
<h3>Все страницы.</h3>
<div class="row well">	
	<div class="col-xs-2" style="text-align: right; margin-top: 10px;">
		<!-- spinner -->
		<span us-spinner="{radius:8, width:16, length: 2}" spinner-on="mpCtrl.showSpinner"></span>
		<b ng-if="mpCtrl.showSpinner">Загрузка!</b>
	</div>
	<form name="npForm" class="input-group col-xs-10" ng-submit="mpCtrl.addPage()">	
		<input ng-model="mpCtrl.newPage" name="np" required class="form-control" placeholder="Название новой страницы...">
		<span class="input-group-btn">
			<button type="submit" ng-disabled="npForm.$invalid" class="btn btn-primary">Добавть страницу</button>
		</span>
	</form>	
		
</div>

<table class="table table-hover">
<thead>
	<tr>
		<th>№</th>
		<th>Страницы:</th>
	</tr>
</thead>
<tbody >
	<tr ng-repeat="p in mpCtrl.pages">
		<td>{{$index+1}}</td>
		<td><a ui-sref="pages.item({item : p.name})"><pre>{{p | json}}</pre></a></td>
	</tr>
</tbody>	
</table>

<div ui-view></div>