
<h3>Все страницы.</h3>
<div class="row well">	
	<div class="col-xs-2" >
		<!-- spinner -->
		<my-spinner ng-if="mpCtrl.showSpinner"></my-spinner>
	</div>
	<form name="npForm" class="col-xs-10" ng-submit="mpCtrl.addPage()">
		<div class="row input-group">
			<input ng-model="mpCtrl.npUrl" name="npUrl" required class="form-control" placeholder="URL или ID новой страницы...">
			<span class="input-group-btn">
				<button type="submit" ng-disabled="npForm.$invalid" class="btn btn-primary">Добавть страницу</button>
			</span>
		</div><br>
		<div class="row">
			<input ng-model="mpCtrl.npName" name="np"  class="form-control" placeholder="Название новой страницы...">
		</div><br>
		<div class="row">
			<textarea ng-model="mpCtrl.npCaption" name="npCaption"  class="form-control" placeholder="Текст новой страницы..."></textarea>
		</div>
	</form>	
		
</div>

<table class="table table-hover">
<thead>
	<tr>
		<th>ID:</th>
		<th>Страница:</th>
	</tr>
</thead>
<tbody>
	<tr ng-repeat="p in mpCtrl.pages | orderBy:'-id'">
		<td>{{p.id}}</td>
		<td><a ui-sref="pages.item({item : p.name})" ng-click="mpCtrl.showInfo=false"><b>{{p.name}}</b> <i>({{p.text}})</i></a></td>
	</tr>
</tbody>	
</table>
<p ng-if="mpCtrl.showInfo" class="text-right"><sub><i>Нажмите на страницу для получения детальной информации... </i></sub></p>
<div ui-view></div>