<div class="row well headDiv">
  <div class="col-xs-5 text-center">
    <span class="h2">{{caption | uppercase}}</span>
    <!-- <i>({{cC.comments.length}})</i> -->
  </div>
  <div class="col-xs-2">
    <button ng-click="clickAdd()" class="btn" ng-class="{'btn-success':!show, 'btn-danger':show}" title="{{caption}}: добавить информацию">
      <span class="glyphicon glyphicon-plus-sign" ng-if="!show" aria-hidden="true">&ensp;Добавить</span>
      <span class="glyphicon glyphicon-remove" ng-if="show" aria-hidden="true">&ensp; Отмена </span>
    </button>
  </div>
  <div class="col-xs-5 text-right">
    <form role="form" class="form-inline">
      <input class="form-control" ng-model="filter" id="commonF"  placeholder="отфильтровать...">
    
      <button type="submit" class="btn btn-primary" title="Очистить фильтр" ng-click="clearF()">
        <span class="glyphicon glyphicon-erase" aria-hidden="true" ></span>
      </button>
    </form>
  </div>
</div>














