<h1 class="h1">Настройки</h1>
<div class="row">
	<div class="col-xs-2">
		 <button class="btn btn-large btn-block btn-primary" ng-click="confC.showSb()">Сайдбар</button>
	</div>
	<div class="col-xs-2">
		<button class="btn btn-large btn-block btn-success" ng-click="confC.showPosts()">Посты</button>
	</div>
	<div class="col-xs-2">
		<button class="btn btn-large btn-block btn-info" ng-click="confC.showTags()">Категории</button>
	</div>
	<div class="col-xs-2">
		<button class="btn btn-large btn-block btn-warning" ng-click="confC.showComments()">Комменты</button>
	</div>
	<div class="col-xs-1"></div>
	<div class="col-xs-3">
		<button class="btn btn-large btn-block" ng-click="confC.showAll()">ВСЕ  СРАЗУ</button>
	</div>
</div>
<hr>

<div ui-view="sbConfig" ng-if="confC.isShowSb"></div>
<div ui-view="postsConfig" ng-if="confC.isShowPosts"></div>
<div ui-view="tagsConfig" ng-if="confC.isShowTags">
	tagsConfig
</div>
<div ui-view="commentsConfig" ng-if="confC.isShowComments"></div> 